body{
    background-color: :green;
}
p{
    font-size: 2rem;
    font-weight: bold;
    color: red;
    border: 2px solid pink;
}

ul li{
    background-color: lime;
    text-transform: uppercase;
}
.added{
    background-color: aqua;
    width: 14rem;
    height: 20rem;
}